{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h3>{{ article.title }}</h3>
    <div class="row">
    {% if article.imageFilename is not empty %}
        <div class="col-md-12">
            <img class="img-fluid" src="/{{image_directory}}/{{ article.imageFilename }}">
        </div>
    {% endif %}
    <div class="col-md-12">
        {{ article.content|raw }}
    </div>
    <div class="col-md-12">
        {% if is_granted('ROLE_USER') %}
            {{ include('user/comment/_form.html.twig') }}
            {% if userRate is not empty %}
                Your rate: {{ userRate.value }}
            {% else %}    
                 <a href="{{ path("user_rate_new", {"id": article.id}) }}">Rate this Article</a>
            {% endif %}     
        {% else %}
            To comment <a href="{{ path("fos_user_security_login") }}">Login</a>
        {% endif %}
        {% if article.rate is not empty %}<span>Total rate: {{ article.rate }}/5 </span>{% endif %}
    </div>
    <div class="col-md-12">
    {% for comment in comments %}
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">{{ comment.user.username }}</h5><small>{{ comment.createdAt|date("Y-m-d H:i") }}</small>
                <p class="card-text">{{ comment.content }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
        <div class="navigation mt-2">
            {{ knp_pagination_render(comments) }}
        </div>
    </div>    
    <a href="{{ path('default_index') }}">back to list</a>
{% endblock %}
